**/.sos
genotype_dir
output/
*.err
*.out
*.log
results/**/*.rds
!results/dsc.finemap.rss.ukb.default/susie_rss_ukb_default_cs_compare/*.rds
!results/dsc.finemap.rss.ukb.default.2.8/susie_rss_ukb_default_cs_compare/*.rds
!results/dsc.finemap.rss.ukb.mix/susie_rss_ukb_mix_cs_compare/*.rds
!results/dsc.finemap.rss.ukb.weight/susie_rss_ukb_weight_cs_compare/*.rds
.Rproj.user/*
